@model MyFace.Models.Request.CreatePostRequestModel

@{
    Layout = "_Layout";
}

<form method = "post" action = "CreatePostRequest">
    <label for="message-input">Message</label>
    <input id="message-input" type = "text" name = "Message"/>

    <label for="image-url">ImageUrl</label>
    <input id="message-input" type = "text" name = "ImageUrl"/>
    <button type="submit">Submit!</button>
</form>