<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyFace</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/myStyles.css" />

</head>
<body>
    <header>
        <nav>
            <a asp-controller="Home" asp-action="Index">MyFace</a>
            <a asp-controller="Posts" asp-action="PostsPage">Posts</a>
            <a asp-controller="Users" asp-action="UsersPage">Users</a>
            <a asp-controller="Home" asp-action="Privacy">Privacy</a>
           
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class = "footer-logos">
        <img class = "footer-corndel-logo" src="/images/corndel-logo.png" alt="Corndel logo">
        <img class = "footer-softwire-logo" src="/images/softwire-logo.png" alt="Softwire logo">
        <div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
