@model IEnumerable<MyFace.Models.View.PostViewModel>

<ol class = "image-container">
    @foreach (var post in Model)
    {
        <li class = "flex-box-post-images">
            <img class = "post-image" src="@post.ImageUrl"  alt="">
            <a href="/users/@post.PostedBy.Id">@post.PostedBy.Username</a>
            <div class = "post-details-formatted" >@post.FormattedTimeSincePost</div>
            <div class = "post-details-formatted" >@post.Message</div>
        </li>
    }
</ol>