@{
    Layout = "_Layout";
}
    <img class = "banner-image" src = '/Images/banner.jpg' alt="banner image"/> 
    <h1  class= "welcome-text"> Welcome to the MyFace.</h1>
    <h2  class= "subtitle-text"> The home of social networking.</h2>
        <a class = "facebook-link" href="https://facebook.com">Don't go to facebook</a>
        <a class = "twitter-link" href="https://twitter.com">Don't go to twitter</a>

        