@{
    Layout = "_Layout";
}
    <img src = '/Images/banner.jpg' alt="banner image"/> 
    <h1>Welcome to the MyFace.</h1>
    <h2>The home of social networking.</h2>
        <a href="https://facebook.com">Don't go to facebook</a>
        <a href="https://twitter.com">Don't go to twitter</a>

        