

// .cover-and-profile-images{
  

// }


$background-color: #252A38;
$darker-background: #151820;
$default-foreground: #DCDCDC;

$primary: #2985FF;
$overlayColor: transparentize($background-color, 0.44);
$font-family: ('Segoe UI', Tahoma, Geneva, Verdana, sans-serif);

@mixin font($font-family: ('Segoe UI', Tahoma, Geneva, Verdana, sans-serif)) {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

body{
    background-color: $background-color;

}

.cover-image{

    width: calc(100vw - 20px);
}

.profile-image{
   
    margin-top: $margin;
    width: 50px;
    border-radius: 50px;
    padding: 5px; 
    border: 1px black solid;
}

.hero-section{
    @include font;

    
    position: relative;
    margin: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    
}

.flex-box-post-images{
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;


}

.user-details{
    $margin: 15px;
    @include font;
    font-family: $font-family;

}

.background-box{

    background-color: $overlayColor;
    width: 100%;
    display: flex;
    bottom: -25px;
    position: absolute;
  
}



.footer-logos{
    background-color: $darker-background;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-corndel-logo{

    height: 50px;
    padding: 10px;
    width: 100px;

}
.footer-softwire-logo{
    padding: 10px;
    height: 50px;
    width: 100px;



}

.post-section{
    @include font;
    background-color: $darker-background;

}

.likes-section{
    @include font;
    background-color: $darker-background;


}
.post-image{

    width: calc(100vw - 20px);
}

.flex-box-post-images{

    @include font;
}

.post-details-formatted{

    @include font;

}
.image-container{

    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    background-color: $darker-background;
    padding: 0;
    list-style: none;
}

h1{
    margin: 0px;
    @include font;
}

li{
    @include font;

}
p{
    margin: 0;


}

h2{
    margin: 10px;
    @include font;


}ç

ol{
    padding: 0;
    list-style: none;
}

a{
    @include font;
}
nav{

    background-color: $darker-background;
    display: flex;
    justify-content: space-evenly;
    @include font;

    

}

// .cover