@charset "UTF-8";
body {
  background-color: #252A38;
}

.cover-image {
  width: calc(100vw - 20px);
}

.profile-image {
  margin-top: 10px;
  width: 50px;
  border-radius: 50px;
  padding: 5px;
  border: 1px black solid;
}

.hero-section {
  color: white;
  text-decoration: none;
  font-size: 13px;
  position: relative;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
}

.flex-box-post-images {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-details {
  margin: 15px;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.background-box {
  background-color: rgba(37, 42, 56, 0.56);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -25px;
  position: absolute;
}

.footer-logos {
  background-color: #151820;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-corndel-logo {
  height: 50px;
  padding: 10px;
  width: 100px;
}

.footer-softwire-logo {
  padding: 10px;
  height: 50px;
  width: 100px;
}

.post-section {
  color: white;
  text-decoration: none;
  font-size: 13px;
  background-color: #151820;
}

.likes-section {
  color: white;
  text-decoration: none;
  font-size: 13px;
  background-color: #151820;
}

.post-image {
  width: calc(100vw - 20px);
}

.flex-box-post-images {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.post-details-formatted {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-y: scroll;
  background-color: #151820;
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0px;
  color: white;
  text-decoration: none;
  font-size: 13px;
}

li {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

p {
  margin: 0;
}

h2 {
  margin: 10px;
  color: white;
  text-decoration: none;
  font-size: 13px;
}

ç
ol {
  padding: 0;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

nav {
  background-color: #151820;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  text-decoration: none;
  font-size: 13px;
}
/*# sourceMappingURL=myStyles.css.map */