body{
    background: rgb(211, 211, 219);
    margin: 0;
}

.cover-image{

    width: 100vw;
}

.profile-image{
    display: flex;
    justify-content: flex-end;
    width: 50px;
    border-radius: 50px;
    padding: 5px; 
    border: 1px black solid;
}

.post-image{
    display: flex;
    width: 100vw;
}

.image-container{
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.p{
    margin: 0;

}
// .cover