

.welcome-text { 

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    margin-top: 50px;
    text-align: center;

}

.subtitle-text {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornflowerblue;
    text-align: center;

}

.banner-image {
    text-align: center;
    width: 100vw;


}

.navbar-brand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornflowerblue;

}

.navbar-link{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornflowerblue;
    padding: 5px;

}

.social-links{
    text-align: center;

}

.twitter-link{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(139, 25, 25);
    
}

.facebook-link{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(139, 29, 29);
       
    
}

.footer-class{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    text-align: center;

}


body {
    margin: 0;
}

